---
import Layout from "../../../layouts/Layout.astro";
import HeaderMain from "../../../components/Header/Header";
import UserAccountLayout from "../../../components/UserPage/UserPageLayout";
import MyOrders from "../../../components/UserPage/MyOrders";
const pageTitle = `Đơn hàng của tôi`;
const breadcrumbTitle = `Đơn hàng của tôi`;
const siteTitle = `MTSMART - Cửa hàng điện thoại, laptop giá rẻ, chính hãng`;
---

<Layout>
  <Fragment slot="head">
    <title>{pageTitle} | {siteTitle}</title>
  </Fragment>

  <HeaderMain client:only />

  <main>
    <UserAccountLayout breadcrumbTitle={breadcrumbTitle} client:only>
      <MyOrders client:only />
    </UserAccountLayout>
  </main>
</Layout>
