---
import Layout from "../../../layouts/Layout.astro";
import HeaderTopBar from "../../../components/Header/HeaderTopBar";
import HeaderMain from "../../../components/Header/Header";
import UserAccountLayout from "../../../components/UserPage/UserPageLayout"; 
import MyOrders from "../../../components/UserPage/MyOrders";
const pageTitle = `Đơn hàng của tôi`;
const breadcrumbTitle = `Đơn hàng của tôi`;
const siteTitle = `MTSMART - Cửa hàng điện thoại, laptop giá rẻ, chính hãng`;
---

<Layout>
  <Fragment slot="head">
    <title>{pageTitle} | {siteTitle}</title>
  </Fragment>
  
  <HeaderTopBar client:load />
  <HeaderMain client:load />

  <main>
    <UserAccountLayout breadcrumbTitle={breadcrumbTitle} client:load>
    
      <MyOrders client:load />
    </UserAccountLayout>
  </main>
</Layout>