---
import Layout from "../../../layouts/Layout.astro";
import HeaderMain from "../../../components/Header/Header";
import UserAccountLayout from "../../../components/UserPage/UserPageLayout";
import FavoriteProducts from "../../../components/UserPage/FavoriteProducts";
const pageTitle = `Thông tin cá nhân`;
const breadcrumbTitle = `Thông tin cá nhân`;
const siteTitle = `MTSMART - Cửa hàng điện thoại, laptop giá rẻ, chính hãng`;
import Footer from "../../../components/Footer/Footer";
---

<Layout>
  <Fragment slot="head">
    <title>{pageTitle} | {siteTitle}</title>
  </Fragment>

  <HeaderMain client:only />

  <main>
    <UserAccountLayout breadcrumbTitle={breadcrumbTitle} client:only>
      <FavoriteProducts client:only />
    </UserAccountLayout>
  </main>
  <Footer />
</Layout>
