---
import Layout from "../../layouts/Layout.astro";
import HeaderMain from "../../components/Header/Header";
import Navigation from "../../components/UserPage/Navigation";
import Profile from "../../components/UserPage/Profile.tsx";

const title = `MTSMART - Cửa hàng điện thoại, laptop giá rẻ, chính hãng`;
---

<Layout>
  <Fragment slot="head">
    <title>{title}</title>
  </Fragment>
  <HeaderMain client:only />

  <main
    class="w-full py-4 max-w-screen-xl mx-auto lg:px-2 px-2 2xl:px-0 relative">
    <div class="flex flex-row gap-6">
      <div class="flex w-full flex-col gap-4 lg:basis-[25%]">
        <Navigation client:only />
      </div>
      <div class="flex w-full flex-col gap-4 lg:basis-[75%]">
        <Profile client:only />
      </div>
    </div>
  </main>
</Layout>
