---
import ToastProvider from "../components/Toast/ToastProvider";
import "../styles/global.css";
import AuthChecker from "../hooks/useAuthChecker"; 
import MobileNav from "../components/MobileNav";
---

<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#191B24" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <slot name="head" />
  </head>
  <body class="bg-gray-100 font-sans">
    <ToastProvider client:idle>
       <MobileNav client:idle />
      <AuthChecker client:load />
      <slot />
    </ToastProvider>
  </body>
</html>
